<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Personal page of Matthias M. Fischer</title>
  <meta name="description" content="Personal blog of Matthias M. Fischer">
  <meta name="author" content="Matthias M. Fischer">

  <meta property="og:title" content="Personal blog of Matthias M. Fischer">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.mmfischer.de/">
  <meta property="og:description" content="Personal webpage and blog of Matthias M. Fischer. Contents include statistics, data science, data visualisation, differential equation modelling, software development, and random thoughts on random topics.">
  <!--<meta property="og:image" content="image.png"> TBD -->

  <link rel="stylesheet" href="../style.css">

</head>

<body>
    <header>
        <h1>Personal blog of Matthias M. Fischer</h1>
        <ul>
        <li><h2><a href=http://www.mmfischer.de/index.html>Home</a></h2></li>
        <li><h2><a href=http://www.mmfischer.de/about.html>About</a></h2></li>
        <li><h2><a href=http://www.mmfischer.de/contact.html>Contact</a></h2></li>
         </ul>
        <hr>
    </header>
    
    <main>
 
 {{.content}}
    
    <hr>
    </main>
    





</body>
</html>


 
